.chat-bar-collapsible {
    /*position: fixed makes div class stay in the same place even if the page is scrolled. */
    position: fixed;
    bottom: 0px;
    right: 50px;
    box-shadow: 0 8px 16px 8px rgba(0, 0, 0, 0.2);
}
.collapsible {
    background-color: rgb(82,151,255);
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 350px;
    text-align: left;
    font-size: 18px;
    /*Top left, top right, botton left, bottom right*/
    border-radius: 10px 10px 0px 0px;
    border : 3px solid white;
    border-bottom: none;
}
.content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #F1F1F1;
}
.full-chat-block {
    width: 350px;
    background: white;
    text-align: center;
    overflow: auto;
    scrollbar-width: none;
    height: max-content;
    /*Max-height in .chatcontainer*/
    transition: max-height 0.2s ease-out;
}
.outer-container {
    min-height: 500px;
    bottom: 0%;
    position: relative;
}
.chat-container {
    max-height: 500px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    scroll-behavior: smooth;
    hyphens: auto;
}
/*ensures scrollbar is hidden inside chatbot*/
.chat-container::-webkit-scrollbar {
    display: none;
}
.chat-bar-input-block {
    display: flex;
    float: left;
    box-sizing: border-box;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background-color: rgb(235, 235, 235);
    border-radius: 10px 10px 0px 0px;
    padding: 10px 0px 10px 10px;
}
.input-box {
    border-radius: 10px;
    float: left;
    width: 250px;
    height: 40px;
    font-size: 16px;
    box-sizing: border-box;
    background-color: white;
}
.chat-bar-icons {
    font-size: 23px;
    position: relative;
    right: 12px;
    cursor: pointer;
}
#chat-icon:hover {
    opacity: .7;
}
.userText {
    color: white;
    font-family: Helvetica;
    font-size: 16px;
    font-weight: normal;
    text-align: right;
    clear: both;
}
.userText span {
    line-height: 1.5em;
    display: inline-block;
    background: #5CA6FA;
    padding: 10px;
    border-radius: 8px;
    border-bottom-right-radius: 2px;
    max-width: 80%;
    margin-right: 10px;
    animation: floatup .5s forwards
}
.botText {
    color: #000;
    font-family: Helvetica;
    font-weight: normal;
    font-size: 16px;
    text-align: left;
}
.botText span {
    line-height: 1.5em;
    display: inline-block;
    background: #E0E0E0;
    padding: 10px;
    border-radius: 8px;
    border-bottom-left-radius: 2px;
    max-width: 80%;
    margin-left: 10px;
    animation: floatup .5s forwards
}
/*Custon animation*/
@keyframes floatup {
    from {
        transform: translateY(14px);
        opacity: .0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}
/*specifies what happens when screen size is less than 600px*/
@media screen and (max-width:600px) {
    .full-chat-block {
        width: 100%;
        border-radius: 0px;
    }
    .chat-bar-collapsible {
        position: fixed;
        bottom: 0;
        right: 0;
        width: 100%;
    }
    .collapsible {
        width: 100%;
        border: 0px;
        border-top: 3px solid white;
        border-radius: 0px;
    }
}
/**{*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    box-sizing: border-box;*/
/*}*/

button{
    border:none;
    outline: none;
    cursor: pointer;
}

section{
    max-width: 1100px;
    margin: auto;
    text-align: center;
    padding: 0 1rem;
}
/*h1{*/
/*    font-size: 3rem;*/
/*    margin-bottom: 2rem;*/
/*}*/


/*p{*/
/*    font-size: 2rem;*/
/*}*/


.chat-btn{
    position: fixed;
    right:50px;
    bottom: 50px;
    background: dodgerblue;
    color: white;
    width:60px;
    height: 60px;
    border-radius: 50%;
    opacity: 0.8;
    transition: opacity 0.3s;
    box-shadow: 0 5px 5px rgba(0,0,0,0.4);
}

.chat-btn:hover, .submit:hover, #emoji-btn:hover{
    opacity: 1;
}

.chat-popup{
    display: none;
    position: fixed;
    bottom: 30px;
    right: 120px;
    height: 400px;
    width: 300px;
    background-color: white;
    /* display: flex; */
    flex-direction: column;
    justify-content: space-between;
    padding: 0.75rem;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
    border-radius: 10px;
}

.show{
    display: flex;
}

.chat-area{
    height: 80%;
    overflow-y: auto;
    overflow-x: hidden;
}

.income-msg{
    display: flex;
    align-items: center;
}

.avatar{
    width:45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}

.income-msg .msg{
    background-color: dodgerblue;
    color: white;
    padding:0.5rem;
    border-radius: 25px;
    margin-left: 1rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.4);
}

.badge{
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: red;
    color:white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    top:-10px;
    right: -10px;
}

.input-area{
    position: relative;
    display: flex;
    justify-content: center;
}

input[type="text"]{
    width:100%;
    border: 1px solid #ccc;
    font-size: 1rem;
    border-radius: 5px;
    height: 2.2rem;
}

#emoji-btn{
    position: absolute;
    font-size: 1.2rem;
    background: transparent;
    right: 50px;
    top:2px;
    opacity:0.5;
}

.submit{
    padding: 0.25rem 0.5rem;
    margin-left: 0.5rem;
    background-color: green;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    opacity: 0.7;
}


.out-msg{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.my-msg{
    display: flex;
    justify-content: flex-end;
    margin: 0.75rem;
    padding: 0.5rem;
    background-color: #ddd;
    border-radius: 25px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.4);
    word-break: break-all;
}


@media (max-width:500px){

    .chat-popup{
        bottom: 120px;
        right:10%;
        width: 80vw;
    }
}